<div id="wrap">
  <div id="container">
    <h1>Burgertime!</h1>

    <form class="create-form">
      <div class="form-group">
        <label for="burger">Add a burger: </label>
        <input type="text" id="newBurger" name="name">
      </div>
      <button type="submit">Submit</button>
    </form> 

    <ul id="uneaten">
      {{#each burger}}
        {{#unless devoured}}
          <li>
            {{burger_name}}
            <button class="eat" data-id="{{this.id}}">Eat me!</button>
          </li>
        {{/unless}}
      {{/each}}
    </ul>
    <ul id="eaten">
      {{#each burger}}
        {{#if devoured}}
          <li>
            {{burger_name}}
            <button class="delete" data-id="{{this.id}}">Delete me!</button>
          </li>
        {{/if}}
      {{/each}}
    </ul>

  </div> <!-- container -->
</div>
<footer>
  <a href="https://github.com/ModularProductions/burger">GitHub Repo</a> | <a href="#" class="disclaimer">Disclaimer</a>
</footer>
<div id="disclaimer" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
      <p>This website claims no affiliation with the classic game Burgertime. It simply exists as a demonstration of certain web development techniques, if you're into that sort of thing.</p>
  </div>
</div>
<script type="text/javascript">
  var modal = document.getElementById("disclaimer");
  $(".disclaimer").on("click", function() {
      modal.style.display = "block";
  })
  $(".close").on("click", function() {
      modal.style.display = "none";
  })
  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
  }
</script>